h1{
    font-size:35pt; 
    font-family:Arial; 
    color:black;}
    body{ 
    font-size:30pt; 
    font-family:monotype corsiva; 
    color:green;
    background-color:yellow;}
    p{
    font-size:30pt; 
    text-align:center; 
    color:red;}		
    big{
    margin-left:50px; 
    margin-right:50px;}	
    small{
    color:blue;}